Package: libterminal
Version: 0.0
Architecture: amd64 
Depends: libstdc++6, libgcc-s1, libc6
Maintainer: Robert Strickland (robert.strickland@smartchain.community)
Description: Terminal output shared library.
